<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGRICROC</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="">
    <div class="overflow-y-scroll w-[100vw] h-[100vh]">
        <div class="container h-full mx-auto">
            <section class="flex justify-center items-start w-full py-20 gap-8">
                <img class="w-[50%] h-[370px] rounded-xl shadow-2xl" src="/static/images/banana.jpeg" alt="">
                <strong class="w-[50%] text-6xl text-slate-800"><span class="text-green-800">Banana</span> is the appropriate crop to be cultivated in this soil. <br> <br> Happy farming 🌾 </strong>
            </section>

            <section class="w-full pb-20">
                <h1 class="text-4xl font-bold">MANURE AND FERTILIZERS FOR BANANA FARMING:

                </h1>
                
                <h1 class="text-3xl font-bold text-green-800 mt-8">Market Demand and Profit Potential:</h1>
                 <p class="text-xl">The largest amount of nutrients is required by the banana plant and they are supplied in small portions to the soil in instalments. Urea is supplied in excess when compared to phosphorous and potash.&nbsp; Nitrogen @ 100 g per plant is supplied in the form of urea at an interval of 30 days along with 100 g /plant of potash and 40 g of phosphorous/ plant as a basal dressing during planting the crop.</p>
 <p class="text-xl">During the vegetative phase, 25% of Farm Yard Manure and 1 kg of neem cake enhance the growth of the plants. Triple super phosphate is applied in a single dose to the plant while planting.</p>
 <p class="text-xl">The need of potassium is essential for the growth and yield of banana plants. Therefore, it is applied in split doses once during the vegetative phase and the other during the reproductive phase. Potassium is supplied in the form of muriate of potash and the minimum amount required is 200 – 300 g. Calcium and Sulphur are also supplied in small doses to the banana plants depending upon the requirement.</p>
 <p class="text-xl">‘Fertigation’ is a method of applying the required nutrients dissolved in water through drip irrigation. This increases the yield by 25 to 30%.</p>
 <p class="text-xl"><strong>Organic manure ‘Jeevamrutha’ and Gomutra</strong> can also be used instead of chemicals as fertilizers for the plants.</p>

                
                <h1 class="text-3xl font-bold text-green-800 mt-8">yield:</h1>
                <p class="text-xl">The yield obtained from different varieties of banana plants is: Dwarf Cavendish yields 30 to 40 tonnes per hectare, Robusta yields 38 to 45 tonnes per hectare and others yield around 20 to 30 tonnes per hectare
                    </p>

                <h1 class="text-3xl font-bold text-green-800 mt-8">cost:</h1>
                
<table class="text-xl mt-5">
    <tbody>
    <tr>
    <td width="308"><span style="color: #000000;"><strong>MATERAILS REQUIRED FOR LAND AND PLANTING</strong></span></td>
    <td width="308"><span style="color: #000000;"><strong>INVESTMENT (IN Rs)</strong></span></td>
    </tr>
    <tr>
    <td width="308">Preparing the land, pits and planting</td>
    <td width="308">4000.00</td>
    </tr>
    <tr>
    <td width="308">Bamboo fencing</td>
    <td width="308">5000.00</td>
    </tr>
    <tr>
    <td width="308">Manure cost</td>
    <td width="308">4000.00</td>
    </tr>
    <tr>
    <td width="308">Seedling cost</td>
    <td width="308">10,000.00</td>
    </tr>
    <tr>
    <td width="308">Spray tools</td>
    <td width="308">3000.00</td>
    </tr>
    <tr>
    <td width="308">Irrigation (pump set and other needs)</td>
    <td width="308">5000.00</td>
    </tr>
    <tr>
    <td width="308"><span style="color: #000000;"><strong>Total </strong></span></td>
    <td width="308"><span style="color: #000000;"><strong>31,000.00</strong></span></td>
    </tr>
    </tbody>
    </table>
    
    
    
    
    
    
    <table class="text-xl mt-5">
    <tbody>
    <tr>
    <td width="308"><span style="color: #000000;"><strong>FERTILIZER AND MANURE REQUIREMENTS</strong></span></td>
    <td width="308"><span style="color: #000000;"><strong>INVESTMENT (IN Rs)</strong></span></td>
    </tr>
    <tr>
    <td width="308">Urea @ 100 g, phosphorous @ 100g and potassium @ 300 g per plant for the 1st time fertilizer cycle</td>
    <td width="308">2400.00</td>
    </tr>
    <tr>
    <td width="308">Fertilizers for 2<sup>nd</sup> cycle (urea @ 250 g, phosphorous @ 250 g, potassium @ 500 g)</td>
    <td width="308">4800.00<p></p>
    <p>&nbsp;</p></td>
    </tr>
    <tr>
    <td width="308">Fertilizer for 3<sup>rd</sup> cycle after 9 months (urea @ 250 g, phosphorous @ 250 g, potassium @ 500 g)</td>
    <td width="308">4800.00</td>
    </tr>
    <tr>
    <td width="308">Borax as a micronutrient @ 3.5 kg</td>
    <td width="308">1050.00</td>
    </tr>
    <tr>
    <td width="308">Labour cost for fertilizing the plants</td>
    <td width="308">5000.00</td>
    </tr>
    <tr>
    <td width="308"><span style="color: #000000;"><strong>Total cost of fertilization</strong></span></td>
    <td width="308"><span style="color: #000000;"><strong>18,050.00</strong></span></td>
    </tr>
    </tbody>
    </table>
    
    
    
    
    
    <table class="text-xl mt-5">
    <tbody>
    <tr>
    <td width="308"><span style="color: #000000;"><strong>COST OF PESTICIDES </strong></span></td>
    <td width="308"><span style="color: #000000;"><strong>INVESTMENT (IN Rs)</strong></span></td>
    </tr>
    <tr>
    <td width="308">Furadon @ 3.5 kg</td>
    <td width="308">400.00</td>
    </tr>
    <tr>
    <td width="308">Bavistin @ 0.5 kg</td>
    <td width="308">500.00</td>
    </tr>
    <tr>
    <td width="308">Boron @ 9 kg</td>
    <td width="308">3000.00</td>
    </tr>
    <tr>
    <td width="308">Tracel @ 9 kg</td>
    <td width="308">2160.00</td>
    </tr>
    <tr>
    <td width="308">Bordeaux mixture @ 10 kg</td>
    <td width="308">2500.00</td>
    </tr>
    <tr>
    <td width="308">Pesticides @ 300 ml per bigha</td>
    <td width="308">2000.00</td>
    </tr>
    <tr>
    <td width="308">Labour charges for pesticide application</td>
    <td width="308">6000.00</td>
    </tr>
    <tr>
    <td width="308"><strong>Total cost</strong></td>
    <td width="308"><strong>16,560.00</strong></td>
    </tr>
    </tbody>
    </table>
    
    
    
    
    
    <p>Total cost of investment: <span style="color: #000000;"><strong>Rs 65,610.00.</strong></span></p>
    
    <p>The profit earned from the total banana farming is: Rs 78,390.00</p>
    

        </div>
    </div>
</body>
</html>