<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGRICROC</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="">
    <div class="overflow-y-scroll w-[100vw] h-[100vh]">
        <div class="container h-full mx-auto">
            <section class="flex justify-center items-start w-full py-20 gap-8">
                <img class="w-[50%] h-[370px] rounded-xl shadow-2xl" src="/static/images/coffee.jpg" alt="">
                <strong class="w-[50%] text-6xl text-slate-800"><span class="text-green-800">Coffee</span> is the
                    appropriate crop to be cultivated in this soil. <br> <br> Happy farming 🌾 </strong>
            </section>

            <section class="w-full pb-20">
                <h1 class="text-4xl font-bold">Let’s delve into the fascinating world of coffee cultivation in India.
                </h1>

                <h1 class="text-3xl font-bold text-green-800 mt-8">Cost of Cultivation for 1 Acre Coffee Cultivation in
                    India:</h1>

                <p class="text-xl">In India, for 1 acre of coffee, farming costs include plant material, irrigation,
                    labor, fertilizer,
                    shade tree material, and farm fencing.</p>

                <ol>
                    <li class="text-xl"><strong>Plant material cost</strong>: 1000 coffee bushes for 1-acre cost Rs
                        15,000 at Rs 15
                        each.</li>

                    <li class="text-xl"><strong>Irrigation</strong>: Water source, irrigation system, and climate impact
                        irrigation
                        cost. To water 1 acre of coffee in India, a sprinkler costs Rs 20,000.</li>

                    <li class="text-xl"><strong>Labor cost</strong>: Land preparation, sowing coffee and shade trees,
                        pruning,
                        harvesting, and care. India’s coffee farming labor costs Rs 25,000–30,000.</li>

                    <li class="text-xl"><strong>Shade tree material cost</strong>: Shade trees regulate temperature,
                        rainfall, and
                        coffee plant growth. Shade trees cost Rs 5,500 and supply Rs 4,000 per Indian coffee acre.</li>

                    <li class="text-xl">Coffee trees are protected by farm fencing. Farm netting costs 20,000-45,000.
                    </li>

                    <li class="text-xl">Coffee fertilizer costs depend on the type, quantity, soil fertility, etc.
                        Indian coffee farmers
                        spend Rs 15,000–26,000 per acre on organic and inorganic nutrients.</li>

                    <li class="text-xl">Farm management, pest control, and other fees are unnoticed. India’s coffee
                        farming costs Rs
                        7,500 in miscellaneous costs.</li>
                </ol>

                <ul>
                    <li class="text-xl"><strong>Plant material cost</strong>: Rs 15,000</li>

                    <li class="text-xl"><strong>Irrigation cos</strong>t: Rs 20,000</li>

                    <li class="text-xl"><strong>Labor cost</strong>: Rs 25,000-30,000</li>

                    <li class="text-xl"><strong>Shade tree material cost</strong>: Rs 5,500 + Rs 4,000 = Rs 9,500</li>

                    <li class="text-xl"><strong>Farm fencing cost</strong>: Rs 20,000-45,000 (depending on the material
                        used)</li>

                    <li class="text-xl"><strong>Fertilizer cost</strong>: Rs 15,000-26,000</li>

                    <li class="text-xl"><strong>Miscellaneous cost</strong>: Rs 7,500</li>
                </ul>

                <p class="text-xl">Thus, based on labor, farm fencing, and fertilizer costs, 1-acre <strong>coffee
                        farming in India
                        costs Rs 92,500 to Rs 128,000</strong>. These estimates are approximate and may vary based on
                    each farm.</p>



                <h1 class="text-3xl font-bold text-green-800 mt-8">Total Returns from 1 Acre Coffee Cultivation:</h1>

                <ul>
                    <li class="text-xl">Indian beans cost Rs 550, Rs 600, or more per kg. (depends on current market)
                    </li>

                    <li class="text-xl">Variety-dependent beans yield 1000–1600 kg per acre. (Can vary)</li>

                    <li class="text-xl">If the Yield of coffee beans per acre is 1400 kg and the current market price of
                        1 kg of coffee
                        beans in India is Rs 560,&nbsp;</li>
                </ul>

                <p class="text-xl">The total revenue generated from 1 acre of coffee farming can be calculated as
                    follows:</p>

                <ul>
                    <li class="text-xl">Total revenue = Yield per acre x Price per kg&nbsp;</li>

                    <li class="text-xl">Total revenue = 1400 kg x Rs 560/kg&nbsp;</li>

                    <li class="text-xl">Total revenue = Rs 7,84,000</li>
                </ul>




                <h1 class="text-3xl font-bold text-green-800 mt-8">Net Profit from 1 Acre Coffee Cultivation:</h1>

                <ul>
                    <li class="text-xl">The total cost of 1-acre coffee cultivation is Rs 110,000</li>

                    <li class="text-xl">Profit range = Total revenue – Total cost&nbsp;</li>

                    <li class="text-xl">Profit range = Rs 7,84,000 – Rs 1,10,000&nbsp;</li>

                    <li class="text-xl">Profit range = Rs 6,74,000</li>
                </ul>


                <h1 class="text-3xl font-bold text-green-800 mt-8">Market and Demand for Coffee Cultivation&nbsp;:</h1>
                <p class="text-xl">Globally, the coffee industry is a quickly expanding market. Due to its ability to
                    boost metabolism,
                    enhance brain function, and improve liver health, instant coffee has acquired immense popularity,
                    particularly among the working population worldwide. In developed economies, consumers gravitate
                    toward premium coffee options for quality and taste, resulting in a shift in market dynamics.</p>
                <p class="text-xl">From 2021 to 2025, the world coffee market will rise by 7.60% to 10,692,99 Crores.
                    Out-of-home coffee
                    consumption, urbanization, e-commerce retail sales, income, specialty coffee demand, and green
                    coffee consumption in emerging countries are expected to drive the market. Coffee consumption is
                    unlikely to reach new heights.</p>
                <p class="text-xl">Still, it will remain a popular dairy beverage in consumers’ diets worldwide.
                    Government subsidies
                    designed to encourage the growth of revenue crops are likely to benefit coffee production. The
                    market is also driven by the rising demand for certified coffee products, the consumer adoption of
                    single-serve coffee brew systems, and the constant innovation of the market’s leading players.</p>


                <h1 class="text-3xl font-bold text-green-800 mt-8">Best Coffee High Yield Variety for Coffee
                    Cultivation:</h1>
                <ul>
                    <li class="text-xl">India grows several high-yielding coffee types that are famous for their quality.</li>

                    <li class="text-xl">Robusta coffee plants produce high yields in India. Its pest- and disease-resistant Yield is
                        good. Robusta coffee plants can yield 2,500 kilograms per hectare, more than any other coffee
                        variety.</li>

                    <li class="text-xl">Arabica coffee is another high-yielding Indian coffee shrub. Superior quality, complex flavor,
                        and better market worth distinguish this variety. Indian coffee growers earn from Arabica
                        coffee’s 1,500 kilograms per hectare yield.</li>

                    <li class="text-xl">Sln 9, Cauvery, and Chandragiri are new high-yielding coffee types promoted by the Indian
                        government.&nbsp;</li>

                    <li class="text-xl">By selecting the right variety and implementing good agricultural practices, coffee growers can
                        achieve high yields and profitability in coffee cultivation.</li>
                </ul>

            </section>
        </div>
    </div>
</body>

</html>