<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGRICROC</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="">
    <div class="overflow-y-scroll w-[100vw] h-[100vh]">
        <div class="container h-full mx-auto">
            <section class="flex justify-center items-start w-full py-20 gap-8">
                <img class="w-[50%] h-[370px] rounded-xl shadow-2xl" src="/static/images/mothbeans.jpeg" alt="">
                <strong class="w-[50%] text-6xl text-slate-800"><span class="text-green-800">Moth bean</span> is the appropriate crop to be cultivated in this soil. <br> <br> Happy farming 🌾 </strong>
            </section>

            <section class="w-full pb-20">
                <h1 class="text-4xl font-bold">Moth bean cultivation in India is an interesting venture with its own unique characteristics. Let’s delve into the details:
                </h1>
                
                <h1 class="text-3xl font-bold text-green-800 mt-8">Area and Production:</h1>
                <p class="text-xl">Moth beans (Vigna aconitifolia) are grown on an extensive area of approximately 13.19 lakh hectares in India.
                    The cultivation of moth beans is mostly confined to states such as Rajasthan, Uttar Pradesh, Haryana, Punjab, Madhya Pradesh, Gujarat, Maharashtra, and Karnataka.
                    The total production of moth beans in India amounts to 1,753 lakh tonnes, with an average productivity of 133 kg per hectare12.
                    </p>
                
                <h1 class="text-3xl font-bold text-green-800 mt-8">Endemic Crop:</h1>
                <p class="text-xl">Moth beans are native to India and Pakistan.
                    They serve various purposes:
                    Food: Moth beans are consumed for their edible seeds, which are rich in protein and dietary fiber. They are commonly used in traditional Indian cuisine.
                    Forage: The leaves and stems of moth beans are valuable fodder for livestock.
                    Cover Crop: Moth beans can be used as a cover crop to improve soil health by fixing atmospheric nitrogen.
                    Apart from India, moth beans are also cultivated in the United States, Thailand, Australia, and other parts of Asia12.
                    </p>

                <h1 class="text-3xl font-bold text-green-800 mt-8">Global Scenario:</h1>
                <p class="text-xl">India and Pakistan together account for 85% of the total cultivated area for moth beans.
                    The production and consumption of moth beans are primarily limited to the Asian population.
                    Although only a small quantity is exported, it caters to the Asian population residing worldwide3.
                    In summary, moth bean cultivation offers a sustainable approach to food security, livestock feed, and soil enrichment. Happy farming! 🌿🌟                    
                    </p>
               
            

            </section>
        </div>
    </div>
</body>
</html>