<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGRICROC</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="">
    <div class="overflow-y-scroll w-[100vw] h-[100vh]">
        <div class="container h-full mx-auto">
            <section class="flex justify-center items-start w-full py-20 gap-8">
                <img class="w-[50%] h-[370px] rounded-xl shadow-2xl" src="/static/images/orange.png" alt="">
                <strong class="w-[50%] text-6xl text-slate-800"><span class="text-green-800">Orange</span> is the appropriate crop to be cultivated in this soil. <br> <br> Happy farming 🌾 </strong>
            </section>

            <section class="w-full pb-20">
                <h1 class="text-4xl font-bold">Let’s delve into the fascinating world of Orange cultivation in India. 🌾</h1>
                
                <h1 class="text-3xl font-bold text-green-800 mt-8">pest and disease management:

                </h1>
                <p class="text-xl">Some of the common pests are citrus wooly white fly, scales, thrips, mites, mealy bugs, and nematodes. Other than these, there could also be a pest like:this pest dwells on the surface of the leaves and causes the leaf lamina to weaken. can help control the pest.this pest infests the plants in the colder regions and causes pits in the leaves. The leaves ultimately start yellowing and curling up which makes the plant less productive. Pruning the infested leaves is a good solution to the problem.these pests also cause leaf deformation and stunted growth in twigs and can be controlled by spraying pesticides.The common diseases of orange plants are leaf rot, fruit rot, scab, stem rot, Phytophthora and Penicillium. They can all be controlled by using a proper fungicide. Keeping the farm clean and using disease-free varieties of planting material can be useful.
                </p>
                
                <h1 class="text-3xl font-bold text-green-800 mt-8">harvesting and yield:</h1>
                <p class="text-xl">Generally, orange plants produce three flushes termed as ambia bahar during Dec –Jan, mrig bahar during June- July and hastha bahar during Sept-Oct. The harvest of orange plants is done only after 3 or 4 years from planting and it is estimated that a single tree can produce 40-50 fruits. The productive life span of an orange tree is around 15 to 20 years. The full bearing capacity of the tree is attained only after 10 years. The size and color of the fruit are the main factors which indicate harvesting time. Normally it is believed that the fruits mature in 240-280 days. Harvesting is done using clippers or shears.
                    </p>

                <h1 class="text-3xl font-bold text-green-800 mt-8">planting material availability:</h1>
                <ul class="text-xl">
                    <li>The planting material can be obtained from ‘Nafees Nursery and Exporter’ located in Lucknow (UP, India).</li>
                    <li>Vijaya Phyto farms in Hyderabad, Telangana is also a supplier of planting material for sweet oranges.</li>
                    <li>The ‘agrihub’ is a place where one can find more suppliers for their specific seedling requirements.</li>
                    <li>The local government offices for agriculture development also sometimes provide planting material.</li>
                </ul>
                
                
            </section>
        </div>
    </div>
</body>
</html>