<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AGRICROC</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="">
    <div class="overflow-y-scroll w-[100vw] h-[100vh]">
        <div class="container h-full mx-auto">
            <section class="flex justify-center items-start w-full py-20 gap-8">
                <img class="w-[50%] h-[370px] rounded-xl shadow-2xl" src="/static/images/rice.jpg" alt="">
                <strong class="w-[50%] text-6xl text-slate-800"><span class="text-green-800">Rice</span> is the appropriate crop to be cultivated in this soil. <br> <br> Happy farming 🌾 </strong>
            </section>

            <section class="w-full pb-20">
                <h1 class="text-4xl font-bold">Let’s delve into the fascinating world of rice cultivation in India. 🌾</h1>
                
                <h1 class="text-3xl font-bold text-green-800 mt-8">Significance of Rice:</h1>
                <p class="text-xl">Rice (Oryza sativa) is a staple food for a significant portion of the world’s population, especially in Asia.
                    In India, rice is a major cereal crop, contributing significantly to food security.
                    It is grown in diverse agro-climatic zones across the country.</p>
                
                <h1 class="text-3xl font-bold text-green-800 mt-8">Varieties and Research:</h1>
                <p class="text-xl">India has developed numerous rice varieties suited to different regions and cropping systems.
                    These varieties exhibit higher yield potential, resistance to pests and diseases, and tolerance to abiotic stresses.
                    Research efforts continue to improve rice varieties for better productivity.
                    </p>

                <h1 class="text-3xl font-bold text-green-800 mt-8">Profit Potential:</h1>
                <p class="text-xl">Rice cultivation provides income to millions of farmers.
                    The average yield of rice in India is around 2.5 metric tonnes per hectare annually.
                    India exports rice to other countries, contributing to its economy.
                    </p>
               
                <h1 class="text-3xl font-bold text-green-800 mt-8">Market Trends:</h1>
                <p class="text-xl">The rice market in India is dynamic, influenced by domestic consumption, exports, and government policies.
                    States like West Bengal, Uttar Pradesh, Andhra Pradesh, Punjab, and Tamil Nadu are major rice producers.
                    In summary, rice cultivation plays a vital role in Indian agriculture, food security, and livelihoods. Happy farming! 🌾🌟</p>
            </section>
        </div>
    </div>
</body>
</html>